/*body style*/
body {
  background-color: #d8f3dc;
}

/*backgournd set up for header and footer*/
.background {
  background-color: #52b788;
  padding: auto;
  margin-top: 0%;
}

/*General text style*/
.text-base {
  color: #081c15;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

/*selfie sytle*/
.image {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

/*contact information button base style*/
.button-base {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

/*contact information button personalized style*/
.button {
  color: #fff;
  background-color: #005f73;
  border-color: #005f73;
}

/*All lists base style*/
.list-base {
  margin-left: 20%;
  text-align: left;
}

/*Style for hr tags*/
.break {
  background-color: #4cae4c;
  width: 600px;
  height: 1px;
}

/*style for embed Google maps*/
.map {
  text-align: center;
}

/*text doesn't want to centered.*/
.special-text {
  text-align: left;
  margin-left: 18%;
  margin-right: 15%;
}

/*hover the contact information buttons, make it fancy.*/
a:hover {
  color: blue;
}
